*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url('../img/default-pattern.png');
}

.container{
  width: 70%;
  margin: auto;
  margin-top: 100px;
}

/* sezione testata */

header{
  position: relative;
  height: 450px;
  background-color: #ffffff;
}

header .logo{
  position: absolute;
  height: 430px;
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  background-image: url('../img/default-header.jpg');
  background-size: cover;
  background-position: center;

}

header .title h2{
  font-size: 90px;
  border: 2px solid #ffffff;
  margin-bottom: 50px;
  text-transform: uppercase;
}

header .title h3{
  font-size: 25px;
  text-transform: uppercase;
}

header .title{
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* sezione main */
main{
  margin: 2% 0;
}
main:after{
  content: '';
  display: table;
  clear: both;
}

/* .background-element{

} */

.formatting{
  background: #ffffff;
  border-radius: 5px;
  padding: 10px;
}

.formatting h2{
  margin-bottom: 25px;
}

.icon {
  color: #FAA501;
}

/* .padding-element{

} */

/* colonna sinistra */
.float-left{
  float: left;
}

.col-left{
  width: 24%;
  background: #ffffff;
  border-radius: 5px;
  padding: 3px;
}

.col-left li{
  color: green;
  font-weight: bold;
  list-style: none;
  padding-bottom: 3px;
}

/* colonna centro */

.col-center{
  width: 46%;
  margin: 0 3%;
}

/* colonna destra */

.col-right{
  width: 24%;
}

.col-right .element{
  margin-bottom: 15px;
}

/* sezione footer */

.piepagina{
  height: 100px;
  background-color: lightgreen;
}
